.project__filtros {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.filtro__item {
    font-weight: var(--font-medium);
    color: var(--title-color);
    cursor: pointer;
    transition: .3s;
    padding: 10px;
    border-radius: 20px;
}

.filtro__item:hover {
    color: #fff;
    background-color: var(--title-color);
}

.filtro__item.active {
    color: #fff;
    background-color: var(--title-color);
}

.project__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 20px;
}

.project__card {
    box-shadow: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project__card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

.project__card-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in-out;
}

.project__card:hover .project__card-img {
    transform: scale(1.1);
}

.project__card-title {
    font-size: 1rem;
    text-align: center;
}

.project__links {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.project__card-link {
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--title-color);
}

.project__card-icon {
    font-size: 20px;
    color: var(--title-color);
    font-weight: var(--font-medium);
}
